@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Ashley.cshtml";
}

@Html.Partial("_Banner")

<section class="color4 slice">
    <div class="ctaBox ctaBoxFullwidth">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>
                        <strong>Targeted Technology...</strong> to <span style="font-style:italic">Accelerate</span> Your Business
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Expertise")
@Html.Partial("_Services")



<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
  
    <div class="maskParent">
        <div class="paralaxMask"></div>
        <div class="paralaxText container">
       
            <i class="icon-megaphone "></i>
            
            <blockquote class="bigTitle">We are judged by what we finish,<br />not what we start.<br /><small>Anonymous</small></blockquote>
        </div>
    </div>
</div>

@Html.Partial("_About")

<div id="paralaxSlice3" data-stellar-background-ratio="0.5">
    <div class="maskParent">
        <div class="paralaxMask"></div>
        <div class="paralaxText">
            <i class="icon-star iconBig"></i>
            <blockquote class="mt15">Keep in touch with us.<br /></blockquote>
        </div>
    </div>
</div>



@Html.Partial("_Contact")
<div data-stellar-background-ratio="0.5" id="paralaxSlice2" style="background-position: 50% 126.325px;">
    <div class="maskParent">
        <div class="paralaxMask"></div>
        <div class="paralaxText container">
            <i class="icon-mobile iconBig"></i><i class="icon-tablet iconBig"></i><i class="icon-laptop iconBig"></i><i class="icon-desktop iconBig"></i>
            <blockquote class="bigTitle">Powerful Platforms,<br>Multiple Devices</blockquote>
        </div>
    </div>
</div>
@Html.Partial("_Works")
