@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head prefix="og: http://ogp.me/ns#">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Greenflag Software is a full-service software development company providing mobile, desktop, web and cloud solutions.">
    <meta name="keywords" content="Tampa Software Development, software development outsourcing tampa, custom software development tampa, sharepoint development, Tampa E-Commerce, Tampa Web Site Development Firm, Tampa Custom Software, Software Development Firm">
    <title>Software Development Company, Mobile Development | Greenflag Software</title>
    @Styles.Render("~/styles/bootstrap")
    <script src="~/Scripts/Vendor/modernizr-2.6.1.min.js"></script>
    <meta property="og:image" content="http://greenflagsoftware.com/Theme/OnePage/images/gf/GFLogoFlagOG.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="162">
    <meta property="og:image:height" content="99">
    @Styles.Render("~/styles/Theme")
    <link href="/Theme/OnePage/font-icons/custom-icons/css/custom-icons.css" rel="stylesheet" />
    <link href="/Theme/OnePage/font-icons/custom-icons/css/custom-icons-ie7.css" rel="stylesheet" />
    <link href="/Theme/OnePage/css/green.css" rel="stylesheet" />
    <link href="/Theme/OnePage/css/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/Theme/OnePage/images/favicon.ico">
    <link rel="apple-touch-icon" href="/Theme/OnePage/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Theme/OnePage/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Theme/OnePage/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Theme/OnePage/images/apple-touch-icon-144x144.png">
</head>

<body data-spy="scroll" data-target="#scrollTarget" data-offset="150" class="activateAppearAnimation">
    <!-- Primary Page Layout
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <!-- header -->
        <header id="mainHeader" class="navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="index.html"><img src="/Theme/OnePage/images/gf/GFLogo.png" alt="Greenflag Software Solutions" /></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#home"><i class="icon-home-outline"></i>Home</a> </li>
                            <li><a href="#expertise"><i class="icon-certificate"></i>Expertise</a> </li>
                            <li><a href="#services"><i class="icon-thumbs-up"></i>Services</a> </li>
                            
                            <li><a href="#about"><i class="icon-star"></i>About</a> </li>

                            <li><a href="#contactSlice"><i class="icon-mail"></i>Contact</a> </li>
                            <li><a href="#works"><i class="icon-cog-outline"></i>Technologies</a> </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>
        <!-- header -->
        @RenderBody()
        <!-- footer -->
        <footer>
            <section id="mainFooter">
                <div class="container" id="footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footerWidget" data-nekoanim="fadeIn" data-nekodelay="100">
                                <img src="/Theme/OnePage/images/gf/gflogoflag.png" alt="" id="footerLogo">
                                <p><a href="http://www.greenflagsoftware.com" title="Green Flag Software">Green Flag Software</a> is a full service software development firm. We build applications for a variety of industries, delivering innovative solutions on desktop, server, devices and web platforms. We utilize industry proven technologies and frameworks to deliver nothing short of the best.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="footerWidget" data-nekoanim="fadeIn" data-nekodelay="300">

                                <h3>Green Flag</h3>
                                <address>
                                    <p>                                      
                                        <i class="icon-phone"></i>&nbsp;@GFResources.PhoneNumber <br>
                                        <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:@GFResources.InquiriesEmail">@GFResources.InquiriesEmail</a>
                                    </p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Copyright © 2014&nbsp;<a href="http://www.greenflagsoftware.com" target="blank">Green Flag Software</a> / All rights reserved.</p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="socialNetwork pull-right">
                            <li><a href="https://www.facebook.com/greenflagsoftware" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                            <li><a href="https://twitter.com/GreenFlagSoft" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a></li>
                            <li><a href="https://plus.google.com/106133752384016724857/posts" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                            <li><a href="https://www.linkedin.com/pub/greenflag-software/8b/6a2/30a/" target="_blank" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End footer -->
    </div>

    @Scripts.Render("~/bundles/plugin")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)

</body>
</html>
