@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @Styles.Render("~/styles/bootstrap")
    <script src="~/Scripts/Vendor/modernizr-2.6.1.min.js"></script>
    @Styles.Render("~/styles/bootstrap")
    @Styles.Render("~/styles/theme")
    <link href="~/Theme/OnePage/css/green.css" rel="stylesheet" />
    <link href="~/Theme/OnePage/css/site.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target="#scrollTarget" data-offset="150" class="activateAppearAnimation">
    <!-- Primary Page Layout
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <!-- header -->
        <header id="mainHeader" class="navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="index.html"><img src="/Theme/OnePage/images/gf/GFLogo.png" alt="Ashley website template" /></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#home"><i class="icon-home-outline"></i>Home</a> </li>
                            <li><a href="#expertise"><i class="icon-certificate"></i>Expertise</a> </li>
                            <li><a href="#services"><i class="icon-thumbs-up"></i>Services</a> </li>
                            
                            <li><a href="#about"><i class="icon-star"></i>About</a> </li>

                            <li><a href="#contactSlice"><i class="icon-mail"></i>Contact</a> </li>
                            <li><a href="#works"><i class="icon-thumbs-up"></i>Technologies</a> </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>
        <!-- header -->
        @RenderBody()
        <!-- footer -->
        <footer>
            <section id="mainFooter">
                <div class="container" id="footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footerWidget" data-nekoanim="fadeIn" data-nekodelay="100">
                                <img src="/Theme/OnePage/images/gf/gflogoflag.png" alt="" id="footerLogo">
                                <p><a href="http://www.greenflagsoftware.com" title="Green Flag Software">Green Flag Software</a> is a full service software development firm. We build applications for a variety of industries, delivering innovative solutions on desktop, server, devices and web platforms. We utilize industry proven technologies and frameworks to deliver nothing short of the best.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="footerWidget" data-nekoanim="fadeIn" data-nekodelay="300">

                                <h3>Green Flag</h3>
                                <address>
                                    <p>                                      
                                        <i class="icon-phone"></i>&nbsp;@GFResources.PhoneNumber <br>
                                        <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:@GFResources.InquiriesEmail">@GFResources.InquiriesEmail</a>
                                    </p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Copyright © 2014&nbsp;<a href="http://www.greenflagsoftware.com" target="blank">Green Flag Software</a> / All rights reserved.</p>
                    </div>
                    <div class="col-sm-6">
                        @*<ul class="socialNetwork pull-right">
                            <li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                            <li><a href="https://twitter.com/LIttleNeko1" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a></li>
                            <li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                            <li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                            <li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </section>
        <!-- End footer -->
    </div>

    @Scripts.Render("~/bundles/plugin")
    <script src="~/Scripts/app/custom.js"></script>
    <script src="~/Scripts/app/site.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
